@{
    ViewData["Title"] = "Draw Window";
}
<h1 id="myDiv">Update my Nametag</h1>
<div id="clearDrawing">Clear</div><br />
<div id="saveDrawing">Save</div><br />
<div id="blackSelector"></div><br />
<div id="redSelector"></div><br />
<div id="smallSelector">Small</div><br />
<div id="mediumSelector">Medium</div><br />
<div id="largeSelector">Large</div><br />
<canvas id="myPics" width="560" height="360"></canvas>
<img class="savedImage" />
<script type="text/javascript" src="~/js/mysite.js"></script>

